Question 1 

Write a Python program that multiplies all the items in a list.

Sample list= [2, 3, 6]

Result = 36

In [11]:
def multi_list(sample_list):
    total = 1 
    for x in sample_list:
        total = total * x
    return total
print("Result =",multi_list([2,3,6]))

Result = 36

Question 2

Write a Python program to get a list, sorted in increasing order by the last element in each tuple, from a given list of non-empty tuples.

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

Expected result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Hint: You can use the sort function.

In [12]:
def return_last_element(tuple_item):
    return tuple_item[-1]
sample1 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sample2 = sorted(sample1, key = return_last_element)
print(sample2)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Question 3 

Write a Python program that combines two dictionaries by adding values for common keys.

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

Expected result: {'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [26]:
from collections import Counter
def add_dicts(d1, d2):
    d = Counter(d1) + Counter(d2)
    return d
add_dicts({'a': 100, 'b': 200, 'c':300},{'a': 300, 'b': 200, 'd':400})

Counter({'a': 400, 'b': 400, 'c': 300, 'd': 400})

Question 4

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) so that is an integral number between 1 and n (both included). Then the program should print the dictionary. Suppose the following input is supplied to the program: 8. Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [5]:
n = input("Please enter a value: ")
n = int(n)
squares = {i: i*i for i in range(1, n+1)}
print(squares)

Please enter a value: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [8]:
def squares(n):
    squares = {i: i*i for i in range(1, n+1)}
    return print(squares) 
squares(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Question 5

Write a program to sort a tuple by its float element.

For example: list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

Expected result: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [10]:
def return_last_element(tuple_item):
    return tuple_item[-1]
sample1 = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
sample2 = sorted(sample1, key = return_last_element, reverse = 1)
print(sample2)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

Question 6

Write a Python program to create a set.

Examples : {0, 1, 2, 3, 4}

Write a Python program to iteration over sets.

Write a Python program to add members in a set and to remove items from a given set.

0
1
2
3
4

In [15]:
def create_set(n): #Python program to create a set
    set = {i for i in range(0, n+1)}
    return print(set)

create_set(5)

{0, 1, 2, 3, 4, 5}

In [16]:
def iterate_over_set(n):#Python program to iteration over set
    set = {i for i in range(0, n+1)}
    for x in set:
        print(x)
    return
iterate_over_set(4)

0
1
2
3
4

In [43]:
def add_rem_set(n):#Python program to iteration over set
    set = {i for i in range(0, n+1)}
    print(set)
    more = set.add(n+5) #Python program to add members in a set 
    print(set)
    less = set.pop() #remove items from a given set.
    return print(set)
add_rem_set(6)

{0, 1, 2, 3, 4, 5, 6}
{0, 1, 2, 3, 4, 5, 6, 11}
{1, 2, 3, 4, 5, 6, 11}

In [44]:
#putting all in a single function

def all_in_one_set(n):#Python program to iteration over set
    set = {i for i in range(0, n+1)} # create a set
    print(set)
    more = set.add(n+5) #Python program to add members in a set 
    print(set)
    less = set.pop() #remove items from a given set.
    for x in set: # iteration over set
        print(x)
    return print(set)
all_in_one_set(6)

{0, 1, 2, 3, 4, 5, 6}
{0, 1, 2, 3, 4, 5, 6, 11}
1
2
3
4
5
6
11
{1, 2, 3, 4, 5, 6, 11}